body {
  background-color: rgb(24, 23, 23);
  color: rgb(238, 229, 229);
}

.movie-app {
  overflow-x: auto;
  flex-wrap: nowrap;
}


/* Movies cards */
.image-container {
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: 0.8;
}


/* Bottom black bar on top of movies cards (to put in favourite) */
.overlay {
  position: absolute;
  background: rgb(24, 23, 23);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

.favourite-icon {
  position: absolute;
  left: 20px;
}